# Exercises

* By the end of this exercise, you should have a file named acquire.py that contains the specified functions. If you wish, you may break your work into separate files for each website (e.g. acquire_codeup_blog.py and acquire_news_articles.py), but the end function should be present in acquire.py (that is, acquire.py should import get_blog_articles from the acquire_codeup_blog module.)

# 1. Codeup Blog Articles

* Visit Codeup's Blog and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.

* Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article. The shape of each dictionary should look like this:

        {
            'title': 'the title of the article',
            'content': 'the full text content of the article'
        }
Plus any additional properties you think might be helpful.

In [1]:
import pandas as pd
from requests import get
from bs4 import BeautifulSoup as soupify

In [2]:
url = 'https://codeup.com/blog/'
header={'User-Agent': "Codeup Data Science"}

In [3]:
get(url, headers=header)

In [4]:
soup = soupify(get(url, headers=header).content)

In [5]:
soup.find_all('a', class_='more-link')

[<a class="more-link" href="https://codeup.com/codeup-news/dei-report/">read more</a>,
 <a class="more-link" href="https://codeup.com/codeup-news/diversity-and-inclusion-award/">read more</a>,
 <a class="more-link" href="https://codeup.com/featured/financing-career-transition/">read more</a>,
 <a class="more-link" href="https://codeup.com/tips-for-prospective-students/tips-for-women/">read more</a>,
 <a class="more-link" href="https://codeup.com/cloud-administration/cloud-computing-and-aws/">read more</a>,
 <a class="more-link" href="https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/">read more</a>]

In [6]:
soup.select('a.more-link')[0]['href']

'https://codeup.com/codeup-news/dei-report/'

In [7]:
blog_posts = [link['href'] for link in soup.select('a.more-link')]

In [8]:
#buil function --> grab article links
def get_blog_urls(base_url, header={'User-Agent': "Codeup Data Science"}):
    soup = soupify(get(url, headers=header).content)    

    return [link['href'] for link in soup.select('a.more-link')]

In [9]:
get_blog_urls(url)

['https://codeup.com/codeup-news/dei-report/',
 'https://codeup.com/codeup-news/diversity-and-inclusion-award/',
 'https://codeup.com/featured/financing-career-transition/',
 'https://codeup.com/tips-for-prospective-students/tips-for-women/',
 'https://codeup.com/cloud-administration/cloud-computing-and-aws/',
 'https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/']

In [10]:
#want to grab two tings , tigle and ocontent
#find where each of the things live

In [11]:
article_soup = soupify(get( 
    'https://codeup.com/codeup-news/dei-report/',
    headers=header)
    .content)

In [12]:
article_soup.select_one('h1.entry-title').text

'Diversity Equity and Inclusion Report'

In [13]:
#now get article content
article_soup.select_one('div.entry-content').text.strip()

'Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an organization, we’ve implemented policies and grown our DEI efforts. We are extremely proud of the progress we’ve made as a staff and Codeup community, and we recognize there is more to learn. This report captures some of the ways that we’ve lived our value of Cultivating Inclusive Growth, and how we will continue doing so as we look to the future.\nWe wanted to shine a light on the demographics of our students and staff, and in particular how that compares to the tech industry as a whole. How we collect, organize, and share employee demographic data is informed by standards set by the Equal Employment Opportunity Commission (EEOC).\nWe are proud to celebrate how we’ve grown and are motivated and committed to do more and be better. To view the report visit the link here, or download it below.'

In [14]:
def get_blog_content(base_url):
    all_blogs = []
    blog_links = get_blog_urls(base_url)
    for blog in blog_links:
        blog_soup = soupify(
            get(blog, 
            headeres=header).content)
        {'title': blog_soup.select_one('h1.entry-title').text,
        'content': blog_soup.select_one('div.entry-content').text.strip()}
        all_blogs.append(blog)

    return all_blogs


## Bonus: Scrape the text of all the articles linked on codeup's blog page.

# 2. News Articles

We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.

Write a function that scrapes the news articles for the following topics:

Business
Sports
Technology
Entertainment
The end product of this should be a function named get_news_articles that returns a list of dictionaries, where each dictionary has this shape:


{
    'title': 'The article title',
    'content': 'The article content',
    'category': 'business' # for example
}
Hints:

Start by inspecting the website in your browser. Figure out which elements will be useful.
Start by creating a function that handles a single article and produces a dictionary like the one above.
Next create a function that will find all the articles on a single page and call the function you created in the last step for every article on the page.
Now create a function that will use the previous two functions to scrape the articles from all the pages that you need, and do any additional processing that needs to be done.
Bonus: cache the data

Write your code such that the acquired data is saved locally in some form or fashion. Your functions that retrieve the data should prefer to read the local data instead of having to make all the requests everytime the function is called. Include a boolean flag in the functions to allow the data to be acquired "fresh" from the actual sources (re-writing your local cache).

In [15]:
url='https://inshorts.com/en/read'
soup=soupify(get(url).content)

In [16]:
soup.find_all('li')[1].text.lower()

'india'

In [17]:
url + '/' + soup.find_all('li')[1].text.lower()

'https://inshorts.com/en/read/india'

In [18]:
def get_cats (base_url):
    soup = soupify(get(base_url).content)
    return [cat.text.lower() for cat in soup.find_all('li')[1:]]

In [28]:
get_cats(url)

['india',
 'business',
 'sports',
 'world',
 'politics',
 'technology',
 'startup',
 'entertainment',
 'miscellaneous',
 'hatke',
 'science',
 'automobile']

In [19]:
cat_url = url + '/' + 'science'

In [29]:
cat_soup = soupify(get(cat_url).content)

In [32]:
cat_soup.find_all('span', itemprop='headline')[0].text

'New species of beetle named after Novak Djokovic'

In [35]:
def get_all_shorts(base_url):
    cats = get_cats(base_url)
    all_articles = []
    for cat in cats:
        cat_url = base_url + '/' + cat
        cat_soup = soupify(get(cat_url).content)
        cat_titles = [title.text for title in cat_soup
                    .find_all('span', itemprop='headline')]
        cat_bodies = [body.text for body in cat_soup
                    .find_all('div', itemprop='articleBody')]
        cat_articles = [{'title': title, 
                        'category': cat,
                        'body': body} for title, body in zip(
                            cat_titles, cat_bodies
                        )]
        print(len(cat_articles))
        all_articles.extend(cat_articles)

    return all_articles

In [36]:
all_articles = get_all_shorts(url)

12
25
25
25
25
24
25
25
24
25
25
24

In [37]:
all_articles = pd.DataFrame(all_articles)

In [38]:
all_articles

,title,category,body
0,Oldest woman in India passes away,india,"Kunjannam, a 112-yr-old woman from Parannur (K..."
1,Zimbabwe players ask India for cricketing tips,india,After getting thrashed by India by 5-0 in the ...
2,"Samsung launches Galaxy Star 2 Plus at Rs.7,335",india,Samsung has unveiled the Galaxy start 2 Plus s...
3,"Indian Navy gets VLF, easy communication with ...",india,The Indian navy has a new communication system...
4,India beat NZ 3-2 to enter CWG hockey finals,india,In the CWG men's hockey semi-final against New...
...,...,...,...
279,Increased repo rate big dampener for us: Autom...,automobile,Federation of Automobile Dealers Associations ...
280,China's Geely buys 7.6% stake in Aston Martin,automobile,China-based Zhejiang Geely announced on Friday...
281,TVS Motor beats Hero MotoCorp to become 6th mo...,automobile,TVS Motor Company Limited has become the sixth...
282,Record 5.4 lakh vehicles sold during Navratri ...,automobile,Federation of Automobile Dealers Associations ...
283,Porsche becomes Europe's most valuable automak...,automobile,Porsche overtook parent company Volkswagen to ...